include ../functions.js.pug

-
  const bgPattern = {
    getComponent: () => {
      return createComponentClasses(
        'bg-pattern',
        ['top', 'bottom']
      );
    },
    modOn: function(modName, block, elName) {
      if (!modName) { return };

      if (block) {
        return this.getComponent().name + this.getComponent().mods[modName];
      } else {
        return this.getComponent().el[elName] + this.getComponent().mods[modName];
      }

      return this.getComponent().mods[modName];
    }
  };
