include ../functions.js.pug

-
  const comments = {
    getComponent: () => {
      return createComponentClasses(
        'comments'
      );
    },
    modOn: function(modName, block, elName) {
      if (!modName) { return };

      if (block) {
        return this.getComponent().name + this.getComponent().mods[modName];
      } else {
        return this.getComponent().el[elName] + this.getComponent().mods[modName];
      }

      return this.getComponent().mods[modName];
    }
  };
