// ==========================================================================
// palette
// ==========================================================================
//
// primary
// --------------------------------------------------------------------------

///
// neutral
// --------------------------------------------------------------------------
$white-400: hsl(0, 0%, 100%);
$black-400: hsl(0, 0%, 0%);

// ==========================================================================
// base
// ==========================================================================
//
// body
// --------------------------------------------------------------------------
$body_bg-clr: $white-400;
$body_clr: $black-400;

// ==========================================================================
// components
// ==========================================================================
//
// attribution
// --------------------------------------------------------------------------
$attr_bg-clr: $black-400;
$attr_clr: $white-400;
$attr__link_clr: $white-400;
$attr__link_hov-clr: $white-400;
