@use "../abstracts" as as;
@use "../themes" as ts;

/* reset */
// ==========================================================================
// all
// ==========================================================================
*,
*::before,
*::after {
  @include as.ms-reset;
}

// ==========================================================================
// body
// ==========================================================================
body {
  @include as.ms-grid($gTR: true, $gTRVal: 1fr auto);

  background: {
    color: ts.$te-body_bg-clr;
  }
  color: ts.$te-body_clr;
  min: {
    height: 100vh;
  }
}
