@use "../abstracts" as as;
@use "../themes" as ts;

/* reset */
// ==========================================================================
// mix
// ==========================================================================
*,
*::before,
*::after {
  @include as.ms-reset;
}

html,
body {
  min: {
    height: 100vh;
  }
}

// ==========================================================================
// q
// ==========================================================================
q {
  &::before {
    margin: {
      inline: {
        end: as.$vs-mar-i-100;
      }
    }
  }

  &::after {
    margin: {
      inline: {
        start: as.$vs-mar-i-100;
      }
    }
  }
}

// ==========================================================================
// body
// ==========================================================================
body {
  @include as.ms-grid($gTR: true, $gTRVal: 1fr 80px);

  position: relative;
  background: {
    color: ts.$te-body_bg-clr;
  }
}

// ==========================================================================
// img
// ==========================================================================
img {
  width: 100%;
  height: auto;
  display: block;
}

// ==========================================================================
// footer
// ==========================================================================

footer {
  margin: {
    top: auto;
  }

  @include as.ms-respond-to("huge") {
    position: fixed;
    bottom: 0;
    width: 100%;
  }
}
