@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');

// ==========================================================================
// z-index
// ==========================================================================
//
// positive
// --------------------------------------------------------------------------
$zx-100: 100;
$zx-200: 200;
$zx-300: 300;
$zx-400: 400;
$zx-500: 500;
$zx-600: 600;
$zx-700: 700;
$zx-800: 800;
$zx-900: 900;

//
// negative
// --------------------------------------------------------------------------
$min-zx-100: -100;
$min-zx-200: -200;
$min-zx-300: -300;
$min-zx-400: -400;
$min-zx-500: -500;
$min-zx-600: -600;
$min-zx-700: -700;
$min-zx-800: -800;
$min-zx-900: -900;

// ==========================================================================
// fonts
// ==========================================================================
//
// fallbacks
// --------------------------------------------------------------------------
$primary-fallback-font: sans-serif;

//
// sets
// --------------------------------------------------------------------------
$primary-font: "League Spartan", $primary-fallback-font;

//
// weights
// --------------------------------------------------------------------------
$fw-100: 100;
$fw-200: 200;
$fw-300: 300;
$fw-400: 400;
$fw-500: 500;
$fw-600: 600;
$fw-700: 700;
$fw-800: 800;
$fw-900: 900;

//
// sizes
// --------------------------------------------------------------------------
$fs-100: 0.7rem;
$fs-200: 0.83rem;
$fs-300: 0.9375rem;
$fs-400: 1rem;
$fs-500: 1.2rem;
$fs-600: 1.5rem;
$fs-700: 2rem;
$fs-800: 2.5rem;
$fs-900: 3rem;

// ==========================================================================
// line-height
// ==========================================================================
$lh-100: 0.7rem;
$lh-200: 0.8rem;
$lh-300: 0.9rem;
$lh-400: 1rem;
$lh-500: 1.2rem;
$lh-600: 1.5rem;
$lh-700: 2rem;
$lh-800: 2.5rem;
$lh-900: 3rem;

// ==========================================================================
// gap
// ==========================================================================
$gap-100: 0.3em;
$gap-200: 0.4em;
$gap-300: 0.5em;
$gap-400: 0.75em;
$gap-500: 1em;
$gap-600: 1.2em;
$gap-700: 1.5em;
$gap-800: 2em;
$gap-900: 2.5em;

// ==========================================================================
// padding
// ==========================================================================
$pad-100: 0.25em;
$pad-200: 0.5em;
$pad-300: 0.75em;
$pad-400: 1em;
$pad-500: 1.25em;
$pad-600: 1.5em;
$pad-700: 2em;
$pad-800: 2.5em;
$pad-900: 3em;

//
// padding-block
// --------------------------------------------------------------------------
$pad-b-100: 0.25em;
$pad-b-200: 0.5em;
$pad-b-300: 0.8em;
$pad-b-400: 1em;
$pad-b-500: 1.25em;
$pad-b-600: 1.5em;
$pad-b-700: 2em;
$pad-b-800: 2.5em;
$pad-b-900: 3em;

//
// padding-inline
// --------------------------------------------------------------------------
$pad-i-100: 0.3em;
$pad-i-200: 0.5em;
$pad-i-300: 0.75em;
$pad-i-400: 1em;
$pad-i-500: 1.5em;
$pad-i-600: 1.9em;
$pad-i-700: 2.3em;
$pad-i-800: 2.5em;
$pad-i-900: 3em;

// ==========================================================================
// margin
// ==========================================================================
//
// margin-block
// --------------------------------------------------------------------------
$mar-b-100: 0.25em;
$mar-b-200: 0.5em;
$mar-b-300: 0.75em;
$mar-b-400: 1em;
$mar-b-500: 1.25em;
$mar-b-600: 1.5em;
$mar-b-700: 2em;
$mar-b-800: 2.5em;
$mar-b-900: 3em;

//
// margin-inline
// --------------------------------------------------------------------------
$mar-i-100: 0.3em;
$mar-i-200: 0.5em;
$mar-i-300: 0.8em;
$mar-i-400: 1em;
$mar-i-500: 1.5em;
$mar-i-600: 1.9em;
$mar-i-700: 2.3em;
$mar-i-800: 2.6em;
$mar-i-900: 3em;

// ==========================================================================
// border-radius
// ==========================================================================
$br-100: 0.4em;
$br-200: 0.65em;
$br-300: 0.8em;
$br-400: 1em;
$br-500: 1.3em;
$br-600: 1.6em;
$br-700: 2em;
$br-800: 2.5em;
$br-900: 50%;

// ==========================================================================
// letter-spacing
// ==========================================================================
$ls-100: 1px;
$ls-200: 2px;
$ls-300: 4px;
$ls-400: 5px;
$ls-500: 7px;
$ls-600: 9px;
$ls-700: 12px;
$ls-800: 15px;
$ls-900: 20px;

// ==========================================================================
// breakpoints
// ==========================================================================
$breakpoints: (
  "huge": (
    min-width: 1440px,
  ),
);
